 @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,700;0,800;0,900;1,500;1,600;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;;
}

body{
    font-size: 16px;
    overflow-x: hidden;
    font-weight: normal;
}

ul, li{
  list-style: none;
  display: inline-block;
}
.navbar-list li a:hover{
  color: #139CF7;
  transition: all 0.4s ease-in-out;
  transform: scaleX(0);
}

.container{
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
@media (min-width: 768px){
    .container{
        width: 500px;
        
    }
}
@media (min-width: 992px){
    .container{
        width: 970px;
        
      }
}

@media (min-width: 1200px){
    .container{
         width: 1170px;
    }
}


.f-left{
  float: left;
}

.f-right{
  float: right;
}
a, a:hover{
  text-decoration: none;
}
#top-nav{
  position: relative;
  width: 100%;
  height: 80px;
  line-height: 80px;
  border-bottom: 1px solid rgb(255 255 255 / 30%);
  transition: 0.5s;
}
#top-nav .logo-wrapper{
    font-size: 24px;
    font-weight: 600;
}

#top-nav .logo-wrapper .logo{
  color: #139CF7;
}

.navbar-wrapper li .link-item{
  color: #1f1f1f;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  height: 50px;
  line-height: 50px;
  padding: 0 20px;
}

.navbar-wrapper li.active a{
  color: #139CF7;
}

#hero-area{
  position: relative;
}

#hero-area .hero-cover{
    background-image: url(img2.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    height: 100vh;
}
#hero-area .hero-cover .hero-content-box{
  position: absolute;
  top: 40%;
  left: 0;
  right: 0;
  text-align: center;
  transform: translateY(-40%);
  color: #fff;
}
#hero-area .hero-cover .hero-content-box .hello{
  font-size: 18px;
  font-weight: 300;
}

#hero-area .hero-cover .hero-content-box .post{
  margin: 20px 0 20px 0;
  font-size: 35px;
}
#hero-area .hero-cover .hero-content-box .hero-desc{
  font-size: 16px;
  color: #fff;
  margin-bottom: 60px;
}

#hero-area .hero-cover .hero-content-box .hero-btns .btn{
  margin-right: 20px;
  position: relative;
  z-index: 1;
}

.btn{
  text-transform: uppercase;
  padding: 10px 20px;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  display: inline-block;
  position: relative;
  z-index: 1;
}
.btn:before{
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: transparent;
  transition: all 0.4s ease-in-out;
  transform: scaleX(0);
  z-index: -1;
}
.btn-white{
    background-color: #139CF7;
    color: #fff;
}
.btn-white:hover{
  color: #474747;
}
.btn-white:hover:before{
  background-color: #fff;
}
.btn-white:hover:before{
  transform: scale(1);
}

.section{
  padding: 100px 0;
}
.section-title{
  text-transform: uppercase;
  font-size: 36px;
  font-weight: 700;
}

#МинийТухай .about-pic{
    width: 37%;
    box-shadow: -20px 20px 10px rgba(0.1,0,0,0.2);
}
#МинийТухай .about-pic img{
  display: block;
  max-width: 100%;
}

#МинийТухай .about-content{
  width: 60%;
  margin-top: 20px;
  letter-spacing: 1px;
}
#МинийТухай .about-content h4 span{
  color: #139CF7;
}
#about .about-content .about-subtitle{
  font-size: 18px;
  font-weight: 400;
  margin: 20px 0 0 0;
}
.ok{
  color: #139CF7;
}

#МинийТухай .about-content .about-desc{
  margin: 30px 0;
}
#МинийТухай .about-content .about-desc .desc-top{
  margin-bottom: 20px;
}
.btn-face{
  background-color: #139CF7;
  color: #fff;
}
.btn-face:hover{
color: #1f1f1f;
}
.btn-face:hover:hover:before{
background-color: #fff;
}
.btn-face:hover:before{
transform: scale(1);
}

.btn-insta{
  background-color: #EC4B51;
  color: #fff;
  
}
.btn-insta:hover{
color: #1f1f1f;
}
.btn-insta:hover:hover:before{
background-color: #fff;
}
.btn-insta:hover:before{
transform: scale(1);
}

.btn-youtube{
  background-color: #FF0000;
  color: #fff;
}
.btn-youtube:hover{
color: #1f1f1f;
}
.btn-youtube:hover:hover:before{
background-color: #fff;
}
.btn-youtube:hover:before{
transform: scale(1);
}

.clear-fix{
  content: '';
  display: table;
  clear: both;
}
.text-center{
  text-align: center;
}
.section-subtitle{
  margin: 30px 100px;
  color: #888;
}

.white-smoke-color{
  background-color: #f7f7f7;
}
#Үйлчилгээ .section-heading .section-title{
  font-size: 36px;
}
#Үйлчилгээ .services-wrapper{
    margin: 40px 0 0 0;
}
#Үйлчилгээ .services-item{ 
  float: left;
  width: calc(100% / 3 - 30px);
  padding: 40px 20px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
  background-color: #fff;
  box-shadow:  0 0 25px rgb(24 24 24 / 10%);
  transition: 0.5s;
}

#Үйлчилгээ .services-item .item-title{
  margin: 20px 0 20px 0;
  font-size: 23px;
  font-weight: 500;
}
#Үйлчилгээ .services-item .icon{
  font-size: 60px;
  color: #139CF7;
}
#Үйлчилгээ .services-item:hover{
  background-color: #313B3D;
}
#Үйлчилгээ .services-item:hover .icon,
#Үйлчилгээ .services-item:hover .item-title,
#Үйлчилгээ .services-item:hover .item-desc{
  color: #ffffff;
}
.section-cover{
  background-color: #313B3D;
}
#hire-me .section-heading{
  padding: 80px 0;
}
#hire-me .section-title{
  color: #fff;
}
#hire-me .section-heading .section-subtitle{
  color: #fff;
  margin: 30px 0;
}

#ХийсэнАжилууд .section-heading . .section-subtitle{
  margin: 30 0px;

}
#ХийсэнАжилууд .work-content .work-filter li {
  padding: 8px 18px;
  border: 1px solid #1f1f1f;
  cursor: pointer;
  margin-right: 15px;
  font-size: 14px;
  font-weight: 500;
}
#ХийсэнАжилууд .work-content .work-filter li.active{
  color: #139CF7;
  border: 1px solid #139CF7;
}
#ХийсэнАжилууд .work-content .work-items{
  margin: 30px 0 0 0;
}

#ХийсэнАжилууд .work-content .work-items .item{
  position: relative;
  display: block;
  float: left;
  width: calc(100% / 3 - 20px);
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
}
#ХийсэнАжилууд .work-content .work-items .item img{
  display: block;
  max-width: 100%;
}

#ХийсэнАжилууд .work-content .work-items .item::before{
  content: '';
  position: absolute;
  display: block;
  margin: auto;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: hsl(210deg 50% 50% / 50%);
  z-index: 1;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
#ХийсэнАжилууд .work-content .work-items .item-data{
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translate(-50%);
  transition: all 0.5s ease-in-out;
  z-index: 2;
  opacity: 0;
}

#ХийсэнАжилууд .work-content .work-items .item-data .title{
  font-size: 16px;
  font-weight: 400;
  color: rgb(255, 255, 255);
}

#ХийсэнАжилууд .work-content .work-items .item-data .subtitle{
  font-size: 14px;
  font-weight: 400;
  color: #fff;
}
#ХийсэнАжилууд .work-content .work-items .item:hover:before{
  opacity: 1;
}
  
#ХийсэнАжилууд .work-content .work-items .item:hover .item-data{
  top: 50%;
  opacity: 1;
}
#teacher .section-heading{
  padding: 80px 0 0 0;
  color: #fff;
}
#teacher .teacher-content{
  padding: 50px 0 30px 0;
}
#teacher .teacher-content .icon{
  font-size: 44px;
  color: #139CF7;
}
#teacher .teacher-content .teacher-desc{
  margin: 20px 0 20px 0;
  width: 60%;
  margin: 40px auto;
  color: #fff;
}
#teacher .teacher-content .teacher-pic{
  width: 8%;
  margin: 0 auto 30px auto;
}
#teacher .teacher-content .teacher-pic img{
  display: block;
  border: 2px solid #139CF7;
  border-radius: 50%;
}
#teacher .teacher-content .teacher-profile span{
  display: block;
  color: #fff;
  margin-bottom: 10px;
  text-transform: capitalize; 
}
#teacher .teacher-content .teacher-profile span.name{
  font-weight: 700;
}


#Блог .blog-wrapper .blog{
  width: calc(100% / 3 - 20px);
  margin: 0 10px 20px 10px;
}
#Блог .blog-wrapper .blog .blog-img img{
  display: block;
  max-width: 100%;
} 

#Блог .blog-wrapper .blog .blog-content{
  margin-top: 20px;
}
#Блог .blog-wrapper .blog .blog-content .title{
  font-size: 16px;
  color: #333;
  margin-bottom: 20px;
}
#Блог .blog-wrapper .blog .blog-content .desc{
  margin-bottom: 20px;
  color: #888;
}

#НадтайХолбогдох .contact-content .message,
#НадтайХолбогдох .contact-content .contact-info{
    width: calc(100% / 2 - 20px);
}

#НадтайХолбогдох .contact-content .message{
    margin: 0 40px 40px 0;
}
#НадтайХолбогдох .contact-content .title{
  font-size: 18px;
  text-transform: capitalize;
  margin-bottom: 20px;
}
#НадтайХолбогдох .contact-content form input{
  width: 100%;
  border-radius: 3px;
}
input, textarea{
  border: none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  outline: none;
  padding: 15px 20px;
}
#НадтайХолбогдох .contact-content form .input-name,
#НадтайХолбогдох .contact-content form .input-mail{
  width: calc(100% / 2 - 10px);
  margin: 0 0 20px 0;
}
#НадтайХолбогдох .contact-content form .input-name{
  margin-right: 20px;
}
#НадтайХолбогдох .contact-content form .input-textare{
  margin: 20px 0 30px 0;
  width: 100%;
}
#НадтайХолбогдох .contact-content form .input-textare textarea{
  width: 100%;
  height: 150%;
  min-height: 150px;
  max-height: 150px;
}
#НадтайХолбогдох.contact-content form [type="submit"]{
  cursor: pointer;
  width: 150px;
  border: 1px solid #139CF7;
}
#НадтайХолбогдох .contact-content ul.contact-detail{
  margin: 20px 0;
}
#НадтайХолбогдох .contact-content ul.contact-detail li{
  display: block;
  margin: 20px 0 20px 0;
}
#НадтайХолбогдох .contact-content ul.contact-detail .contact-icon{
  margin: 0 20px 0 0;
  width: 60px;
  height: 60px;
  line-height: 75px;
  text-align: center;
  position: relative;
}
#НадтайХолбогдох .contact-content ul.contact-detail .contact-icon i{
  font-size: 32px;
  margin-top: 14px;
  color: #139CF7;
}
#НадтайХолбогдох .contact-content ul.contact-detail .contact-text{
  width: 300px;
  padding: 10px 0; 
}
#footer{
  background-color: #313B3D;
  position: relative;
}
#footer .footer-bottom{
  margin: 20px 0 0 0;
  border-top: 4px solid #ffffff; 
}
#footer .footer-bottom .copyright{
  text-transform: capitalize;
  font-size: 17px;
  margin: 10px 0 20px 0;
  line-height: 26px;
}
.btn-mouse-wrapper{
  position: absolute;
  display: inline-block;
  left: 50%;
  bottom: 5%;
  transform: translateX(-50%);
  z-index: 1;
}

.btn-mouse-wrapper .btn-mouse{
  border: 2px solid #ffffff;
  padding: 20px 15px;
  border-radius: 50px;
}
.btn-mouse-wrapper .btn-mouse .btn-wheel{
  width: 3px;
  height: 10px;
  padding: 0;
  background-color: #ffffff;
  transform: translateY(-10px);
  animation: updown 2s ease .1s infinite;
}

@keyframes updown{
     0%{
       transform: translateY(-10px);
     }
     30%{
      transform: translateY(-5px);
    }
    50%{
      transform: translateY(0px);
    }
    80%{
      transform: translateY(10px);
    }
    100%{
      transform: translateY(20px);
      opacity: 0.1;
    }
}
